<h1>List of Employees</h1>

<ul>
  <% @employees.each do |employee| %>
    <li>
      <%= link_to(employee.first_name, employee_path(employee)) %>
      <%= button_to("Delete!", employee_path(employee), method: :delete) %>
    </li>
  <% end %>
</ul>

<%= link_to("Add a New Employee", new_employee_path) %><br>